 .image-logo img {
    margin-bottom: 0;
  }
  .cooperation-address {
    margin-bottom: 0;
}
.newtbl
{
  margin-left: -24px;
    width: 98%;
    border: 1px solid #737976;
}
hr{
    margin-left: -43px;
    width: 100%;
    padding-left: 11px;
    padding-right: 0px;
    border-top: 1px solid #aba6a6;
}
td, th {
    padding: 10px 10px;
    border: 1px solid;
}
tr{
  border: 1px solid;
}
.container-fluid {
    background: white;
}
@media print {
  background-color: lightgreen;
  /* height: 200px;
  width: 300px; */
}