.footer {
bottom:auto !important;
}
.gmaps {
  height:500px !important;
}
.gmaps-list-view {
  height:135px !important;
}
.contact-list td img {
    width:70px !important;
}
#collapseOne {
//  width:30px !important;
}
#label-style {
  margin-top:20px !important;
}
.checkbox {
  padding-bottom: 0px!important;
    margin-bottom: 0px!important;
}
.new-login-register .lg-info-panel {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  top : 0;
}
.new-login-register {
  background: white !important;
}
#fa-backward {
  margin-left: 500px!important;
}
.footable-even {
  display: table-row!important;
}
tr.footable-sortable th a {
    color: #666666;
    font-weight: 500;

}
.ui-autocomplete {z-index: 1061 !important;}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0 !important;
}
.white-box .box-title {
  margin:0px !important;
}
.grid-list  {
    display: inline !important;
}
.dropzones {
     min-height: 150px;
     border: 2px solid rgba(0, 0, 0, 0.3);
     background: white;
     padding: 40px 20px;
     border-width: 1px;
}
.has-error {
      margin-bottom: 0px !important;
}
.has-success {
    margin-bottom: 36px !important;
}
/*.dropzone, .dropzone * {
    box-sizing: border-box;
}*/
